html {
  font-family: sans-serif;
}

.main-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#panel {
  width: 650px;
  height: 500px;
  margin-top: 20px;
  padding: 100 100 100 100;
}
#panel h3 {
  margin:0;
}
#panel th, td {
  padding: 3px 3px;
  border-bottom: 1px solid #E1E1E1;
  text-align: left;
}

#panel th:first-child,
#panel td:first-child {
  padding-left: 0; 
}

#panel th:last-child,
#panel td:last-child {
  padding-right: 0; 
}

.filters {
  background-color: #eeaabb;
  width: 500px;
  height: 100px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd6688;
  margin-bottom: 50px;
}

h1 {
  display: flex;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

.bubble-label {
  font-family: 'Trebuchet MS', sans-serif;
}