.main-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.panelInfo {
  margin-bottom: 20px;
}

#panel {
  background-color: lightpink;
  width: 300px;
  height: 350px;
  margin-top: 20px;
  float:left; 
  padding: 20 30 20 20;
}

.filters {
  background-color: cornflowerblue;
  width: 300px;
  height: 100px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}